* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary: #30106B;
    --secondary: #c470da;
    --grey: rgb(139, 139, 139);
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

/* Header Styling */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 2vw;
}

header div {
    flex: 1;
    margin: 30px;
}
#time {
    text-align: right;
}

header a {
    text-decoration: none;
    color: var(--secondary);
}

/* Main Styling */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.quiz {
    margin-top: 3.5%;
    width: 60%;
}

.center {
    text-align: center;
}

.instructions {
    font-size: 2vw;
    margin-bottom: 20px;
}

.question-heading {
    margin-bottom: 20px;
    font-size: 3vw;
}

.answer-container {
    list-style: none;
}

/* Form Styling */
form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.form-text {
    font-size: 2vw;
}

.score-form:not(:first-child) {
    margin-left: 3%;
} 

form input {
    outline: none;
    border: none;
    padding: .5%;
    font-size: 2vw;
    border: 2px solid var(--grey);
}

/* Button Styling */
.btn {
    margin-top: 1.5%;
    outline: none;
    border: none;
    padding: 1% 1.5%;
    background: var(--primary);
    border-radius: 12px;
    color: #fff;
}

.start-btn {
    margin: 10px 40%;
    font-size: 2.25vw;
    width: max-content;
}

.answer-button {
    font-size: 1.75vw;
    width: 35%;
    text-align: left;
}

.score-btn, .back-btn, .clear-scores-btn {
    font-size: 2vw;
    padding: 5%;
    width: max-content;
}

.btn:hover {
    background-color: var(--secondary);
}


/* Answer Result Styling */
.result {
    border-top: 1px solid var(--grey);
    margin-top: 5%;
}

.result h2 {
    margin-top: 3%;
    color: var(--grey);
    font-size: 2.5vw;
    font-style: italic;
    font-weight: lighter;
}

/* High Scores Styling */