* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary: #30106B;
    --secondary: #c470da;
    --grey: rgb(139, 139, 139);
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

/* Header Styling */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 2vw;
}

header div {
    flex: 1;
    margin: 30px;
}
#time {
    text-align: right;
}

header a {
    text-decoration: none;
    color: var(--secondary);
}

/* Main Styling */

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#quiz {
    margin-top: 3.5%;
    width: 60%;
}

.instructions {
    text-align: center;
    font-size: 2vw;
    margin-bottom: 20px;
}

.question-heading {
    font-size: 3vw;
}

.answer-container {
    list-style: none;
}

.btn {
    margin-top: 1.5%;
    outline: none;
    border: none;
    padding: 1% 1.5%;
    background: var(--primary);
    border-radius: 12px;
    color: #fff;
}

.start-btn {
    margin: 10px 40%;
    font-size: 2.25vw;
    width: max-content;
}

.answer-button {
    font-size: 1.75vw;
    width: 35%;
    text-align: left;
}

.btn:hover {
    background-color: var(--secondary);
}